<launch>
	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
	<arg name="marker_size"          default="12" />
    <arg name="max_new_marker_error" default="0.05" />
    <arg name="max_track_error"      default="0.05" />
    <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
    <arg name="move_forward_only" default="false"/>

    <arg name="cam_image_topic"      default="/camera/color/image_raw" />
    <arg name="cam_info_topic"       default="/camera/color/camera_info" />
    <arg name="output_frame"         default="/camera_link" />

	<node pkg="tf" type="static_transform_publisher" name="base_camera_link" args="0 0 0 0 0 0 base_footprint camera_link 100" />

	<!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
	<include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
		<arg name="model" value="$(arg model)"/>
		<arg name="configuration_basename" value="$(arg configuration_basename)"/>
	</include>

	<!-- AMCL -->
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>


</launch>